// ** Backgrounds ** //
$white          : rgb(255, 255, 255);
$gray-bg        : rgb(237, 241, 242);
$light-gray-bg  : rgb(246, 247, 248);
$gray-highilght : rgb(250, 249, 249);

// ** Elements ** //
$green-bar    : rgb(122, 192, 189);
$gray-outline : rgb(236, 235, 235);

// ** Palatte Colors ** //
$green  : rgb(76, 206, 173);
$blue   : rgb(99, 166, 255);
$alert  : rgb(245, 107, 79);
$teal   : rgb(139, 222, 218);

// ** B&W Palatte ** //
$dark       : rgb(5, 24, 56);
$dark-b     : rgb(4, 24, 55);
$dark-gray  : rgb(92, 107, 126);
$gray       : rgb(123, 138, 157);
$light-gray : rgb(153, 168, 187);


